
h1, h2 { font-family: 'Poppins', sans-serif; }
h3, h4 { font-family: 'Open Sans', sans-serif; }
p, body { font-family: 'Roboto', sans-serif; }
button { font-family: 'Montserrat', sans-serif; }


@import url('https://googleapis.com');

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}




html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color:#f9f9f9 ;
}